*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Helvetica Now Display';}
.no_scroll{height: 100vh; overflow: hidden;}

html{overflow-x: hidden; overscroll-behavior: none;}
a{text-decoration: none; color: #000;}
li{list-style: none;}
body{background-color: #fff;}

header{position: fixed; top: 0; left: 0; width: 100%; z-index: 9; line-height: 1.4; display: grid; align-items: start; grid-template-columns: repeat(12, 1fr); font-size: 12px; mix-blend-mode: difference; color:#fff;
  .header_links{display: flex; gap: 8px; grid-column: 1 / span 3;
    a{font-size: 24px; font-weight: bold; line-height: 1; color: #fff;}
  }
  .header_txt{/*position: absolute; left: calc((100% / 12) * 3); top: 0;*/ grid-column: 5 / span 2; font-family: 'Apercu Mono Pro';}
  .header_time{/*position: absolute; left: calc((100% / 12) * 7); top: 0;*/ display: flex; align-items: center; grid-column: 8 / span 2;
    &::before{content: ''; width: 6px; height: 6px; background-color: #ff5900; border-radius: 100%; animation: blink 0.6s cubic-bezier(0,0,0,0) infinite;}
    .time{margin: 0 9px;}
    .loca{}
  }
  
  .header_email{position: absolute; right: 56px; top: 0; text-align: right;}
  .scroll_down{display: flex; overflow: hidden;  flex-direction: row; writing-mode: tb; position: absolute; right: 0; top: 0; height: 100vh; justify-content: center;
    span{white-space: nowrap;animation: repeatY 2s cubic-bezier(0,0,0,0) infinite;}
  }

}
.footer{background-color: #E5FF70;width: 100%; position: relative; padding: 0 56px /*104px*/ 16px; position: fixed; z-index: 1; bottom: 0; left: 0;
  /*&::after{content: ''; display: block; width: 100%; height: 1px; position: absolute; bottom: 64px; left: 0; background-color: #000;}*/
  .footer_inner{
    .footer_t{display: flex; align-items: flex-end; justify-content: space-between;padding-bottom: 156px;
      h1{font-size: 200px; line-height: 0.8; padding-top: 24px;}
      .footer_t_2{display: flex; flex-direction: column; align-items: flex-end;
        span{font-size: 16px;}
        a{font-size: 48px; line-height: 1.1;margin-top:8px; display: block; border-bottom: 3px solid #000; font-family: 'Apercu Mono Pro';}
      }
    }
    .footer_b{
      li{display: flex; justify-content: space-between; margin-bottom: 12px; font-size: 16px; font-style: none;
        &:first-child{margin-bottom: 20px;}
        &:last-child{margin-top: 40px; margin-bottom: 0;}

        h4{font-size: 32px; font-weight: bold; line-height: 1; text-transform: uppercase;}
        address{font-style: normal;}
      }
    }
    .footer_list_w{display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 40px;
      & > div{
        &.fl_left{text-align: left;}
        &.fl_right{text-align: right;}
        span{display: block; margin-bottom: 20px; font-size: 16px;}
        ul{display: flex; flex-direction: column; gap: 12px; font-size: 32px; font-weight: bold; line-height: 1; text-transform: uppercase;}
      }
    }
    .a_p{display: flex; justify-content: space-between; font-size: 16px; font-style: unset; font-size: 16px;
      *{font-style: normal;}
    }
  }
  .copyright{position: relative;/* bottom: 16px; right: 56px;*/ font-size: 16px;
    a{text-decoration: underline;}
  }
  .copyright{position:relative; bottom:unset; right:unset; text-align:right; padding:32px 0 20px; margin-top:40px;
      &::before{content:''; display: block; width: 100vw; height: 1px; background-color: #000; position: absolute; top: 0; left: 50%; transform: translateX(-50%);}
    }
  .footer_logo_section{ opacity:1;
    img{width:100%; filter: invert(1);}
  }
}

@media(min-width:1024px) and (max-width:1900px){
  .footer{background-color:#E5FF70;width:100%;position:relative;padding:0 3.75vw /*6.97vw*/ 16px;position:fixed; bottom:0;left:0;
    /*&::after{content:'';display:block;width:100%;height:0.07vw;position:absolute;bottom:4.29vw;left:0;background-color:#000;}*/
    .footer_inner{
      .footer_t{display:flex;align-items:flex-end;justify-content:space-between;padding-bottom:5vw;
        h1{font-size:6vw;line-height:0.8;padding-top:1.61vw;}
        .footer_t_2{display:flex;flex-direction:column;align-items:flex-end;
          span{font-size:1.07vw;}
          a{font-size:2.14vw;line-height:1.1;margin-top:0.54vw;display:block;border-bottom:0.2vw solid #000;font-family:'Apercu Mono Pro';}
        }
      }
      .footer_b{
        li{display:flex;justify-content:space-between;margin-bottom:0.8vw;font-size:1.07vw;font-style:none;
          &:first-child{margin-bottom:1.34vw;}
          &:last-child{margin-top:2.68vw;margin-bottom:0;}
          h4{font-size:2.14vw;font-weight:bold;line-height:1;text-transform:uppercase;}
          address{font-style:normal;}
        }
      }

      .footer_list_w{margin-bottom: 2.68vw;
        & > div{
          span{margin-bottom: 1.34vw; font-size: 1.07vw;}
          ul{gap: 0.8vw; font-size: 2.14vw; }
        }
      }
      .a_p{font-size: 1.07vw}
    }
    .copyright{/*position:absolute;bottom:1.07vw;right:3.75vw;*/font-size:1.07vw;}
    
  }

}

@media(min-width:1025px){
  .mob_only{display: none!important;}

  
  
}

@media(max-width:1024px){
  .pc_only{display: none!important;}
  header{display: flex;
    .header_links{gap: 6px; margin-right: 20px;
      a{font-size: 18px;}
    }
    .header_txt{font-size: 8px;}
    .header_time{position: fixed; bottom: 0; left: 75%; font-size: 9px;}
    .scroll_down{font-size: 9px;}
    .header_email{position: fixed; left: 0; top:50%; transform: translateY(-50%); font-size: 9px; margin-left: 20px; writing-mode: tb; margin-left: unset; right: unset;}
  }
  .footer{padding: 20px 32px 156px;
    &::after{bottom: 124px;}
    .footer_inner{
      .footer_t{align-items: center; flex-direction: column; padding-bottom: 80px;
        h1{font-size: 80px; line-height: 1.1; padding-top: 0px;}
        .footer_t_2{align-items: center;
          span{font-size: 10px; display: block; margin: 20px 0 8px;}
          a{font-size: 20px; line-height: 1.1; display: block; border-bottom: 2px solid #000;}
        }
      }
      .footer_b{
        li{display: flex; justify-content: space-between; margin-bottom: 8px; font-size: 10px; font-style: none;
          &:first-child{margin-bottom: 8px;}
          &:last-child{margin-top: 40px; margin-bottom: 0; font-size: 12px; flex-direction: column; justify-content: center; align-items: center; gap: 12px; padding-bottom: 32px;}

          h4{font-size: 16px; font-weight: bold; line-height: 1; text-transform: uppercase;}
          address{font-style: normal;}
        }
      }
      .footer_list_w{margin-bottom: 40px;
        & > div{
          span{margin-bottom: 1.34vw; font-size: 10px;}
          ul{gap: 8px; font-size: 16px; }
        }
      }
      .a_p{font-size: 12px; padding-bottom: 32px; flex-direction: column; justify-content: center; align-items: center; gap: 12px;}
    }
    .copyright{position: absolute; display: flex; flex-direction: column; bottom: 60px; right: 0; font-size: 12px; width: 100%; text-align: center; line-height: 1.5; gap: 8px;}
    .footer_logo_section{display: none;}
  }
  .logo_home{left: 4px!important; bottom: 4px!important; width: 192px!important;}
}


@keyframes repeatY {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }  
}
:root { --blickColor: #00FFFF; }
@keyframes blink {
  0% {
    background-color: #ffffff00
  }
  50% {
    background-color: #ffffff00
  }  
  51% {
    /*background-color: #ff5900*/
    background-color: /*#00ffea*/ #FF0000;
    
  }  
  100% {
    background-color: #FF0000
  }  
}




/*.App:not(.page-open) .cursor{opacity: 0;}*/
.cursor{position: fixed; top: 0; left: 0; z-index: 99; pointer-events: none; width: 20px; height: 20px; opacity: 1; transition: ease 0.5s opacity, ease 0.5s width, ease 0.5s height, ease 0.5s filter; transform: translate(-100px, -100px); will-change: transform; 
  .cursor-inner{width: 20px; height: 20px; border-radius: 100%; background-color: rgba(255, 255, 255, 0.2); backdrop-filter: blur(4px); transform: translate(-50%, -50%); transition: ease 0.3s all; position: absolute;
    span{width: 0; height: 0; transition: ease 0.3s all; position: absolute; transition-delay: 0.3s;}
    span:nth-child(1){top: 0; left: 0; border-top: 0px solid; border-left: 0px solid;}
    span:nth-child(2){top: 0; right: 0; border-top: 0px solid; border-right: 0px solid;}
    span:nth-child(3){bottom: 0; left: 0; border-bottom: 0px solid; border-left: 0px solid;}
    span:nth-child(4){bottom: 0; right: 0; border-bottom: 0px solid; border-right: 0px solid;}
  }
  .cursor-txt{position: absolute; top: 0; left: 0; transform: translate(-50%, -50%); font-size: 12px; opacity: 0; transition: ease 0.1s opacity;}
  &.cursor_open{
    .cursor-inner{width: 60px; height: 60px; border-radius: 0;
      span{width: 8px; height: 8px;
        &:nth-child(1){ border-top: 1px solid; border-left: 1px solid;}
        &:nth-child(2){ border-top: 1px solid; border-right: 1px solid;}
        &:nth-child(3){ border-bottom: 1px solid; border-left: 1px solid;}
        &:nth-child(4){ border-bottom: 1px solid; border-right: 1px solid;}
      }
    }
    .cursor-txt-detail{opacity: 1;}
    .cursor-txt-close{opacity: 0;}
    &.cursor_video{
      .cursor-txt-detail{opacity: 0;}
      .cursor-txt-close{opacity: 0;}
      .cursor-txt-play{opacity: 1;}
      .cursor-txt-pause{opacity: 0;}
    }
  }
  &.cursor_txt_close{
    .cursor-txt-detail{opacity: 0;}
    .cursor-txt-close{opacity: 1;}
    &.cursor_video{
      .cursor-txt-detail{opacity: 0;}
      .cursor-txt-close{opacity: 0;}
      .cursor-txt-play{opacity: 0;}
      .cursor-txt-pause{opacity: 1;}
    }
  }
  &.cursor_close, &.hidden{display: none;}
}
.page_wrap{
  &:not(.footer_on){
    .footer{pointer-events: none; z-index: -1;}
  }
}
.logo_home{mix-blend-mode: difference; position: fixed; left: 0; bottom: 0; width: 300px; z-index: 99; font-size: 0;
  img{width: 100%;}
}
.fade-slice{display: block; width: 100%; opacity: 0;
  .line{overflow: hidden; display: block; width: auto;
    .inner{transform: translateY(100%); transition: transform 0.6s ease; display: inline-block; white-space: nowrap;}
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) .inner{
        transition-delay: $i * 0.1s; // 0.1s, 0.2s, 0.3s ...
      }
    }
  }
}
.ani.active{
  .fade-slice{ opacity: 1;
    .line{overflow: hidden; display: block;
      .inner{transform: translateY(0);}
    }
  }
}