.intro{width: 100%; height: 100%; top: 0; left: 0; z-index: 10; display: flex; align-items: center; justify-content: center; overflow: hidden;
  .bg_wrap{width: 100%; height: 100%; background-color: #000; position: fixed; left: 0; bottom: 0; transition: ease 1.5s all; opacity: 1; z-index: 98;}
  .intro_txt{width: 320px; height: 30px; overflow: hidden; position: fixed; z-index: 99; left: 50%; top: 50%; transform: translate(-50%,-50%);
    img{width: 100%; object-fit: contain; height: 30px; transform: translateY(calc(-110%)) rotate(-4deg); transition: ease 0.5s all;}
  }
  .logo_fixed{position: fixed; width: 100%; /*position: absolute;*/ mix-blend-mode: difference; bottom: calc(50% - 20px); width: 320px; left: calc(50% - 160px); transition: ease 1.5s all; overflow: hidden; z-index: 99; font-size: 0;
    img{ width: 100%; transform: translateY(46px) rotate(-0deg);  transition: ease 0.5s all; transition-delay: 0.0s;}
    
  }

  &.active{
    .intro_txt{
      img{transform: translateY(-000%) rotate(-0deg);}
      
    }
  }
  &.txt_active{
    .intro_txt{
      img{transform: translateY(-46px) rotate(-0deg);}
    }
    .logo_fixed{
      img{transform: translateY(-00%) rotate(-0deg);}
    }
  }

  &.intro_out{
    .logo_fixed{width: calc(100% - 112px); bottom: 0;left: 56px; padding-bottom: 0;
      img{width: calc(100%);}
    }
    .bg_wrap{height: 0%; bottom: 0;}
  }
  &.scrolled{
    .logo_fixed{width: 300px; left: 0;}
    &:not(.intro_out) .logo_fixed{left:calc(50% - 160px);}
  }
  &.logo_bottom{ position: absolute
    //.logo_fixed{width: calc(100% - 7.5vw); bottom: 0;left: 3.75vw; padding-bottom: 20px; transition:ease 1s all;}
  }
  
}

@media(max-width:1024px){
  .intro{
    .intro_txt{height: 36px; width: 70px;
      img{height: 100%;}
    }
    .logo_fixed{width:192px; left: calc(50% - 96px);}
    &.intro_out .logo_fixed{width: 192px; left: 4px; bottom: 4px;}
    &.logo_bottom .logo_fixed{position: absolute;}
  }

}
.footer_on .intro{z-index: 8;}