.page_main{background-color: #fff; position: relative;
  &.page-hit-bottom{pointer-events: none;}
  &.page_hold{overflow: hidden;}


  section.no-pointer{pointer-events: none;}

  .section_1{width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center; position: fixed;
    .sec_1_video_w{width: 80%; height: calc(100vh - 13vw); 
      video { width: 100%; height: 100%; display: block; object-fit: cover; transition: all 1s ease; opacity: 1; transform: scale(0.7);
        &.hide{opacity: 0;}
        &.intro_out{ transform: scale(0.7)!important; visibility: hidden;}
        &.transition{transition: ease 1s opacity!important;}
      }
    }
    &.hide{background-color:unset!important;}
  }

  @keyframes blur {
    0%		{text-shadow:  0 0 100px #fff; opacity:0;}
    5%		{text-shadow:  0 0 90px #fff;}
    15%		{opacity: 1;}
    20%		{text-shadow:  0 0 0px #fff;}
    90%		{text-shadow:  0 0 0px #fff;}
    100%		{opacity: 1;}
  }
  .section_2{position: relative; height: 7000px;/* display: none;*/
    .sec2_inner{top: 0; left: 0; width: 100%; height: 100vh; padding: 5.36vw 3.75vw; mix-blend-mode: difference; color: #fff; line-height: 1; display: flex; flex-direction: column; gap: 0.80vw; justify-content: center; position: fixed; z-index: 1;
      .flex{display: flex; justify-content: space-between;

        .num span{display: flex;}
        .num span::after{display: block; font-size: 14px; font-weight: 400; line-height: 1; transform: translateY(10%)}
        .num_1 span::after{content: '[ 01 ]';}
        .num_2 span::after{content: '[ 02 ]';} 
        .num_3 span::after{content: '[ 03 ]';}
        h2{position: relative; overflow: hidden;
          span{transform: translateY(130%); display: block; transition: transform 0.5s cubic-bezier(0.13, 0.6, 0.38, 0.97);
            &.point_font, &.point_font *{font-weight: 500;}
            > div{color: #fff;}
          }
        }
        h2.blur{overflow: unset;
          span{transform: translateY(-10%); color: transparent; text-shadow:  0 0 100px #fff; opacity:0; transition: ease 2s all!important;}
        }
        .s2el_left.blur{
          span{
            transform: translate(-100%, -10%);
          }
        }
        h2, h2 *{font-weight: 300; font-size: 6.43vw;}
        h2.bold, h2.bold *{font-weight: 500;}
        
        &.flex_end{justify-content: flex-end;}
        &:nth-child(2) h2:nth-child(2){left: 46%;}
        &:nth-child(3) h2:nth-child(2){left: 46%;}
        &:nth-child(5) h2:nth-child(2){left: 46%;}
        &:nth-child(5) h2:nth-child(3){left: 74.2%;}
        .abs{position: absolute;}
        .abs_img{position: absolute; left: 33%; overflow: hidden;
          img{transform: translateY(130%); transition: all 0.5s cubic-bezier(0.13, 0.6, 0.38, 0.97); height: 5.63vw;}
        }


        /*
        &:nth-child(1) h2:nth-child(1) span{transition-delay: 0.1s;}
        &:nth-child(1) h2:nth-child(2) span{transition-delay: 0.2s;}

        &:nth-child(2) h2:nth-child(1) span{transition-delay: 0.3s;}
        &:nth-child(2) h2:nth-child(2) span{transition-delay: 0.4s;}
        &:nth-child(2) h2:nth-child(3) span{transition-delay: 0.5s;}

        &:nth-child(3) h2:nth-child(1) span{transition-delay: 0.6s;}
        &:nth-child(3) h2:nth-child(2) span{transition-delay: 0.7s;}
        &:nth-child(3) h2:nth-child(3) span{transition-delay: 0.8s;}

        &:nth-child(4) h2:nth-child(1) span{transition-delay: 0.9s!important;}

        &:nth-child(5) h2:nth-child(1) span{transition-delay: 1.1s;}
        &:nth-child(5) h2:nth-child(2) span{transition-delay: 1.2s;}
        &:nth-child(5) h2:nth-child(3) span{transition-delay: 1.3s;}

        &:nth-child(6) h2:nth-child(1) span{transition-delay: 1.4s;}
        &:nth-child(6) div:nth-child(2) img{transition-delay: 2s;}
        &:nth-child(6) h2:nth-child(3) span{transition-delay: 1.6s!important;}
        */

        
        h2.active{
          span{transform: translateY(-10%);}
          &.blur{
            span{color: transparent; text-shadow: rgb(255, 255, 255) 0px 0px 0px; opacity: 1;}
          }
        }
        .abs_img.active{
          img{transform: translateY(-00%);}
        }
        .s2el_left.blur.active{
          span{transform: translate(-00%, -10%);}
        }    
      }
    }
    &.active{
      .sec2_inner{
        .flex{
          h2{
            span{transform: translateY(-10%);}
            &.blur{
              span{color: transparent; text-shadow: rgb(255, 255, 255) 0px 0px 0px; opacity: 1;}
            }
          }
          .abs_img{
            img{transform: translateY(-10%);}
          }
          
        }
      }
      
    }
    &.sec2_end{
      .s2el{overflow: unset!important;
        *{transition-delay: 0s!important; transition: none!important;}
        &.num span::after{display: none; content: none;}
      }
    } 
  }
  .section_space{width: 100%; position: relative; height: 100vh; opacity: 1;}
  .section_3{position: relative; top: 0; left: 0; width: 100%; align-items: center; /*background-color: #000;*/ opacity: 1; transition: ease 0.8s opacity; z-index: 3;
    .sec3_1_height{height: 2000px; margin-bottom: 100px;}
    .float-wrap{position: relative;}
    .float-wrap.float-wrap_head{height: 100%; width: 100%; position: absolute; /*z-index: 3;*/ top:0; left:0;
      .sec3_inner{position: fixed; top: 0; left: 0; width: 100%; height: 100vh; z-index: 1;
        &:not(.floating){
          h1{opacity: 0;}
        }
        &.float-bottom{position: absolute; top: unset; bottom: 0;}
      }

    }
    .float-wrap_bg{position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
      .sec3_bg{width: 100%; height: 100%; position: fixed; bottom: 0; left: 0; opacity: 0; pointer-events: none; background-color: #000; transition: ease 1s opacity;
        &.floating{opacity: 1;}
        &.float-bottom{position: absolute; }
        &::before{content: ''; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-image: url(https://hummman.com/mucl/front_img/noise1.6534f57c.gif); opacity: 0.1;}
        img{width: 100%; height: 100%; object-fit: cover; opacity: 0.0;}
      }
    }
    .sec3_txt_w{position: relative; padding: 120px 0 130px;
      h1{font-size: 72px; line-height: 1; color: #fff; font-weight: 300; text-align: center;
        &:nth-child(1){margin-bottom: 10px; transform: translateX(-100%);}
        &:nth-child(2){transform: translateX(100%);}
      }
    }
    .float-wrap_list{padding-bottom: 50vh; height: 200vh; position: relative; z-index: 1;
      .float-el{position: absolute; top: calc(100vh - 200px); left: 0; width: 100%; transform: translateY(-100%);
      &.floating{position: fixed; top: unset; bottom: 200px; transform: translateY(0%);}
      &.float-bottom{position: absolute; bottom: 200px; top: unset; transform: translateY(0%);}
      }
    }
    .sec3_ul{display: flex; flex-direction: column; /*gap: 32px;*/ padding: 00px 56px 0; gap: 12px;
      @for $i from 0 through 20 {
        li:nth-child(#{$i}){ transition-delay: #{0.05 * $i}s;}
        li:nth-child(#{$i}) div{ transition-delay: #{0.15 * $i}s;}
      }
      &.active:not(:hover){
        @for $i from 1 through 5 {
          li:nth-child(#{$i}) h4, li:nth-child(#{$i}) span{ transition-delay: #{0.7 + (0.1 * $i)}s;}
          
        }
      }
      
      li{font-size: 2.68vw; line-height: 0.8; display: flex; align-items: center; transition: 0.2s ease all; color:#fff; position: relative; cursor: pointer; /*transform: translateY(60px); opacity: 0;*/ text-transform: uppercase; letter-spacing: -1px; overflow: hidden;
        div{display: flex; justify-content: space-between; align-items: center; width: 100%; transform: translateY(100%); transition: ease 0.3s transform;
          h4{font-weight: bold;  left: 0; top: 0; transition: 0.8s ease color, 0.8s ease transform; transform: translateX(-000%);}
          span{font-weight: bold;  right: 0; top: 0; transition: 0.8s ease color, 0.8s ease transform; transform: translateX(-000%);}
        }

        
      }/*:hover{
        h4{left: calc(50% - 10px); transform: translateX(-100%); color: #E5FF70;}
        span{right: calc(50% - 10px); transform: translateX(100%); color: #E5FF70;}
      }*/
      :hover{
        h4{color: #E5FF70;}
        span{color: #E5FF70;}
      }
      &.ani.active{
        li{ transform: translateY(00px); opacity: 1;
          div{transform: translateY(0);}
        }
      }
    }
    .video_wrap{position: fixed; width: 100%; height: 100vh; left: 0; top: 0; pointer-events: none;
      video{position: absolute; width: 100%; height: 100vh; left: 0; top: 0; object-fit: cover; opacity: 1; transition: ease 0.5s opacity;
        &:not(.play){opacity: 0;}
      }
    }
    
    &.show{opacity: 1;
      .float-wrap_bg{opacity: 1;}
      .sec3_txt_w{
        h1{
          &:nth-child(1){transform: translateX(0%);}
          &:nth-child(2){transform: translateX(0%);}
        }
      }
    }
  }
  .section_4{position:relative; top: 0; left: 0; width: 100%; z-index: 0; pointer-events: none; opacity: 0; display: none;
    &.show{/*display: block;*/display: none;  pointer-events: all; opacity: 1;
      .sec4_inner{background-color: #fff; opacity: 1;}
    }
    .sec4_inner{position: fixed; top: 0%; left: 0; width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center; opacity: 1; transition: 0.5s ease all; 
      img{width: 100%; height: 100%; top: 0%; left: 0; width: 100%; height: 100%; object-fit: cover;}
    }
    .sec4_1_space{position: relative; height: 600px;}
    
    .sec4_grid{display: grid; grid-template-columns: repeat(3, 3fr); position: absolute; top: 0; left: 0; width: 100%; height: 100%;
      & > *{position: relative;
        .box{background-color: #fff; position: absolute;}
      }
      .to_right{grid-row: 1; grid-column: 1 / 4;
        .box{right: 0; top: 0; height: 100%;}
      }
      .to_top{grid-row: 2; grid-column: 1;
        .box{left: 0; top: 0; width: 100%;}
      }
      .to_bottom{grid-row: 2; grid-column: 3;
        .box{left: 0; bottom: 0; width: 100%;}
      }
      .to_left{grid-row: 3; grid-column: 1 / 4;
        .box{left: 0; top: 0; height: 100%;}
      }
    }
    .sec4_1_height{position: relative; width: 100px; height: 2000px; opacity: 0.2;}
    .sec4_2_height{position: relative; width: 100px; height: 3000px; opacity: 0.2;}
    .sec4_2_space{width: 100%; height: 100vh;}
    .sec4_3_space{width: 100%; height: 100vh;}
    .sec_4_txt_w{position: fixed; top: 0; left:0; width: 100%; height: 100vh; display: flex; flex-direction: column; justify-content: center; padding:0 56px; opacity: 0; transition: 0.5s ease opacity;
      &.show{opacity: 1;}
      .sec_4_txt_inner{display: flex; align-items: flex-end;
        .s4t_1{width: calc((100vw / 12) * 2);}
        .s4t_2_w{display: flex; flex-direction: column; gap: 12px;}
      }
      .s4t_3{display:block; padding-top:40px; padding-left: calc((100vw / 12) * 2); font-size: 16px; font-weight: 400; line-height: 1.5; transition: ease 0.5s all; opacity: 0; transform: translateY(60px);}
      .s4t_4{text-align: right; position: relative; top: -8px; transition: ease 1s all; opacity: 0; transform: translateX(-20%); color: #0000; opacity: 0; text-shadow: 0 0 100px #fff;}
      h1{font-size: 96px; line-height: 1; font-weight: 300;}
      &.show_t1{
        .s4t_3{transform: translateY(0); opacity: 1;}

      }
      &.show_t2{
        .s4t_4{transform: translateX(0); opacity: 1; text-shadow: #000000 0 0 0;}
      }
    } 
    &.hit-bottom{
      .sec_4_txt_w, .sec4_inner{position:absolute; top: unset; bottom: 0;}
    } 
  }
  .end_section{pointer-events: none;}
}
@media(min-width:1920px){
  .page_main .section_3 .sec3_ul li{font-size: 52px;}
}
@media(min-width:1025px){
  .page_main{
    .section_4{
      .sec4_inner{
        img{transform: scale(1)!important;}
      }
    }
  }
  .footer_on .logo_fixed{opacity: 1; position: absolute;}
  .page_main .section_3 .float-wrap_list .float-el{top: 60vh; transform: translateY(0);}
  .page_main .section_3 .float-wrap_list .float-el.floating{top: 60vh; bottom: unset;  transform: translateY(0);}
  .page_main .section_3 .float-wrap_list .float-el.float-bottom{top: unset; bottom: 40vh; transform: translateY(100%);}
}
@media(max-width:1024px){
  .page_main{
    .section_space{height: 100vh;}
    .section_2{ height: 300vh;
      .sec2_inner{top: 0; left: 0; width: 100%; height: 100vh; padding: 78px 20px 82px 12px; mix-blend-mode: difference; color: #fff; line-height: 1; display: flex; flex-direction: column; gap: 0; justify-content: center; position: fixed;
        .flex{
          &:nth-child(1){flex-direction: column; gap: 8px; margin-bottom: 24px;
            h2:nth-child(2){text-align: right;}
          }
          &:nth-child(2){flex-direction: column; position: relative; margin-bottom: 4px;
            h2:nth-child(2){position: unset;}
            h2:nth-child(3){position: absolute; right: 0; bottom:0;}
          }
          &:nth-child(3){flex-direction: column; position: relative; margin-bottom: 4px;
            h2:nth-child(2){bottom: 0; right: 114px; left: unset;}
            h2:nth-child(3){text-align: right;}
          }
          &:nth-child(4){margin-bottom: 60px;}
          &:nth-child(5){flex-direction: column; position: relative; margin-bottom: 4px;
            h2:nth-child(2){position: absolute; right: 36px; left: unset;}
            h2:nth-child(3){text-align: right; position: unset;}
          }
          &:nth-child(6){flex-direction: column; position: relative; padding-left: 66px;
            .abs_img{left: -4px; top: 4px;
              img{width: 44px; height: 33px;}
            }
          }

          .num span::after{font-size: 8px;}

          h2, h2 *{font-weight: 300; font-size: 40px;}
        }
      }
    }
    .section_3{
      .sec3_1_height{margin-bottom: 0; height:100vh;}
      .video_wrap{top: unset; bottom: 0;}
      .sec3_txt_w{padding:216px 0 260px;
        h1{font-size: 40px;

          &:nth-child(1){margin-bottom: 4px; transform: translateX(-96.06%);}
          &:nth-child(2){transform: translateX(96.06%);}
        }
      }
      .sec3_ul{padding: 0 20px 0 12px; font-size: 16px; margin-top: unset; gap: 12px;
        li{font-size: 16px;  transform: unset; opacity: 1;
          h4{font-size: 16px; left: 0; transform: unset!important;}
          span{font-size: 16px; right: 0; transform: unset!important;}
          &.play h4{left: calc(50% - 4px); transform: translateX(-100%); color: #E5FF70;}
          &.play span{right: calc(50% - 4px); transform: translateX(100%); color: #E5FF70;}
          
        }
        :hover{
          h4{left: 0; transform: unset; }
          span{right: 0; transform: unset; }
        }

      }
      .float-wrap_list{padding-bottom: unset; height: 200vh;
        .float-el{height: 100vh; width: 100%; display: flex; flex-direction: column; justify-content: flex-end; align-items: center; padding-bottom: 200px; transform: unset; top: 0;
          .video_wrap{ 
            video{opacity: 0;}
          }
          &:not(.floating){
            video{opacity: 0;}
          }
          &.floating{position: fixed; top:0;}
          &.float-bottom{position: absolute; bottom: 0; top: unset; transform: unset;
            video{opacity: 0;}
          }
          .sec3_ul{width: 100%;
            
          }
          &.floating:not(.float-bottom){
            .video_wrap{ 
              video.play{opacity: 1;}
            }
          }
        }
      }
    } 
    .section_4{      
      .sec4_inner{
        .sec4_grid{display: none;}
        img{object-fit:contain;}
      }
      .sec_4_txt_w {padding: 0 20px 0 12px;
        .sec_4_txt_inner{
          .s4t_1{width: 25%;}
          h1{font-size: 40px;}
          .s4t_2_w{gap:0px;
            h1{line-height: 1;}
          }
        }
        .s4t_3{padding-top: 160px; padding-left: 25%;}
        .s4t_4{padding-top: 40px; padding-left: 50%; font-size: 40px; text-align: unset; top: unset;}
      }
      .sec4_2_height{height: 1000px;}
    }
    
  }
}
.footer_on .video_wrap video{opacity: 0!important;}

@keyframes blink2 {
  0% {
    background-color: #ffffff00
  }
  50% {
    background-color: #ffffff00
  }  
  51% {
    /*background-color: #ff5900*/
    background-color: /*#00ffea*/ #00ffFF;
    
  }  
  100% {
    background-color: /*#00ffea*/ #00FFFF;
  }  
}
body:has(.page_main) header .header_time::before{animation: blink2 0.6s cubic-bezier(0,0,0,0) infinite;}
