@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Apercu Mono Pro';
  src: url('../public/assets/font/ApercuMonoProLight.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Apercu Mono Pro';
  src: url('../public/assets/font/ApercuMonoProRegular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Apercu Mono Pro';
  src: url('../public/assets/font/ApercuMonoProMedium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Apercu Mono Pro';
  src: url('../public/assets/font/ApercuMonoProBold.ttf') format('truetype');
  font-weight: 700;
}




@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ThinIta.eot');
    src: local('Helvetica Now Display Thin Ita'), local('HelveticaNowDisplay-ThinIta'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ThinIta.eot?#iefix') format('embedded-opentype'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ThinIta.woff2') format('woff2'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ThinIta.woff') format('woff'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ThinIta.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Light.eot');
    src: local('Helvetica Now Display Light'), local('HelveticaNowDisplay-Light'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Light.woff2') format('woff2'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Light.woff') format('woff'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-BoldIta.eot');
    src: local('Helvetica Now Display Bold Ita'), local('HelveticaNowDisplay-BoldIta'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-BoldIta.eot?#iefix') format('embedded-opentype'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-BoldIta.woff2') format('woff2'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-BoldIta.woff') format('woff'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-BoldIta.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-RegIta.eot');
    src: local('Helvetica Now Display Reg Ita'), local('HelveticaNowDisplay-RegIta'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-RegIta.eot?#iefix') format('embedded-opentype'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-RegIta.woff2') format('woff2'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-RegIta.woff') format('woff'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-RegIta.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtLtIta.eot');
    src: local('Helvetica Now Display ExtLt Ita'), local('HelveticaNowDisplay-ExtLtIta'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtLtIta.eot?#iefix') format('embedded-opentype'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtLtIta.woff2') format('woff2'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtLtIta.woff') format('woff'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtLtIta.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-MedIta.eot');
    src: local('Helvetica Now Display Med Ita'), local('HelveticaNowDisplay-MedIta'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-MedIta.eot?#iefix') format('embedded-opentype'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-MedIta.woff2') format('woff2'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-MedIta.woff') format('woff'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-MedIta.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtLt.eot');
    src: local('Helvetica Now Display ExtLt'), local('HelveticaNowDisplay-ExtLt'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtLt.eot?#iefix') format('embedded-opentype'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtLt.woff2') format('woff2'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtLt.woff') format('woff'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtLt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtBlk.eot');
    src: local('Helvetica Now Display ExtBlk'), local('HelveticaNowDisplay-ExtBlk'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtBlk.eot?#iefix') format('embedded-opentype'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtBlk.woff2') format('woff2'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtBlk.woff') format('woff'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtBlk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Bold.eot');
    src: local('Helvetica Now Display Bold'), local('HelveticaNowDisplay-Bold'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Bold.woff2') format('woff2'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Bold.woff') format('woff'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtBdIta.eot');
    src: local('Helvetica Now Display ExtBd Ita'), local('HelveticaNowDisplay-ExtBdIta'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtBdIta.eot?#iefix') format('embedded-opentype'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtBdIta.woff2') format('woff2'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtBdIta.woff') format('woff'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtBdIta.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Regular.eot');
    src: local('Helvetica Now Display Regular'), local('HelveticaNowDisplay-Regular'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Regular.woff2') format('woff2'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Regular.woff') format('woff'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtBlkIta.eot');
    src: local('Helvetica Now Display ExBlk It'), local('HelveticaNowDisplay-ExtBlkIta'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtBlkIta.eot?#iefix') format('embedded-opentype'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtBlkIta.woff2') format('woff2'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtBlkIta.woff') format('woff'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtBlkIta.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Thin.eot');
    src: local('Helvetica Now Display Thin'), local('HelveticaNowDisplay-Thin'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Thin.woff2') format('woff2'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Thin.woff') format('woff'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-LightIta.eot');
    src: local('Helvetica Now Display Light Ita'), local('HelveticaNowDisplay-LightIta'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-LightIta.eot?#iefix') format('embedded-opentype'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-LightIta.woff2') format('woff2'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-LightIta.woff') format('woff'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-LightIta.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtraBold.eot');
    src: local('Helvetica Now Display ExtBd'), local('HelveticaNowDisplay-ExtraBold'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtraBold.woff2') format('woff2'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtraBold.woff') format('woff'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Medium.eot');
    src: local('Helvetica Now Display Medium'), local('HelveticaNowDisplay-Medium'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Medium.woff2') format('woff2'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Medium.woff') format('woff'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-HairlineI.eot');
    src: local('Helvetica Now Display Hairline'), local('HelveticaNowDisplay-HairlineI'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-HairlineI.eot?#iefix') format('embedded-opentype'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-HairlineI.woff2') format('woff2'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-HairlineI.woff') format('woff'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-HairlineI.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-BlackIta.eot');
    src: local('Helvetica Now Display Black Ita'), local('HelveticaNowDisplay-BlackIta'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-BlackIta.eot?#iefix') format('embedded-opentype'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-BlackIta.woff2') format('woff2'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-BlackIta.woff') format('woff'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-BlackIta.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Black.eot');
    src: local('Helvetica Now Display Black'), local('HelveticaNowDisplay-Black'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Black.woff2') format('woff2'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Black.woff') format('woff'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Hairline.eot');
    src: local('Helvetica Now Display Hairline'), local('HelveticaNowDisplay-Hairline'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Hairline.eot?#iefix') format('embedded-opentype'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Hairline.woff2') format('woff2'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Hairline.woff') format('woff'),
        url('../public/assets/font/helvetica-now-display/HelveticaNowDisplay-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
